
    <!--start page-->
    <div class="">
      <div class="bg">
        <div class="container-fluid">
          <div class="row justify-content-md-center">   
          <div class=" col col-lg-6 col-md-6" style="margin:50px;">
            <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                  <img src="assets/img/img/gry.jpg" class=" d-block img-fluid  w-100 " alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h2><a class="h nav-link" [routerLink]="['/gryffindor']">Welcome to Gryffindor</a></h2>
                  </div>
                  </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="assets/img/img/sly.jpg" class="d-block img-fluid w-100 " alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 class="h nav-link" [routerLink]="['/slytherin']">Welcome to Slytherin</h2>
                  </div>
                  </div>
            
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="assets/img/img/huff.jpg" class="d-block img-fluid  w-100 " alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 class="h nav-link" [routerLink]="['/hufflepuff']">Welcome to Hufflepuff </h2>
                  </div>
                  </div>
                <div class="carousel-item" >
                  <img src="assets/img/img/rav.jpg" class="d-block img-fluid  w-100 " alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 class="h nav-link" [routerLink]="['/ravenclaw']">Welcome to Ravenclaw</h2>
                  </div>
                </div>
               <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              </div>
            </div><br><br>
            <img class="img-fluid" src="assets/img/divider.jpg">
            <div class="container about-section">
              <div class="row">
                <div class=" col col-lg-12 col-sm-12">
                 <h2 class="h">
                   <div style="text-align:center;">What Is</div>
                   <div style="text-align:center;">
                    Harry Potter:
                    Hogwarts School?
                   </div></h2>
                  <p class="h"><em>Harry Potter: Hogwarts School</em> Hogwarts School of Witchcraft and Wizardry ,   Hogwarts   for short  , is a boarding school for children with magical abilities. They go to school here for seven years from the age of eleven or twelve. There are four houses at Hogwarts into which the Sorting Hat sorts first years.</p>
                </div>
              </div>
             </div>
             <img class="img-fluid" src="assets/img/divider.jpg">
          </div>
        </div>
       </div>
      </div>

  <!-- Add card-->     
    <div class="row justify-content-md-center">
        <div class="col-xs-8 offset-xs-1 col-sm-10 offset-sm-1 col-md-5 offset-md-0 " style="margin-top: 40px;" >
          <div class="card" style=" display: flex; height: 500px;" >
          <div class="card-body">
              <h5 class="card-title" data-toggle="tooltip" data-placement="top" data-html="true" title="Click Here" [routerLink]="['/gryffindor']">Gryffindor</h5>
              <p class="card-text">In Gryffindor bravery and courage reign," the Sorting Hat once sang. And indeed, in Gryffindor there are many noble students. House Gryffindor often competes with House Slytherin, which is probably due to the violent dispute that the two founders once fought. A golden lion on a red background can be seen on the coat of arms.</p>
              <img src="assets/img/img/gry.jpg" class=" img-fluid" alt="...">
          </div>
          </div>
          </div>
  
          <div class="col-xs-8 offset-xs-1 col-sm-10 offset-sm-1 col-md-5 offset-md-0 " style="margin-top: 40px;" >
            <div class="card" style=" display: flex;  height: 500px;" >
               <div class="card-body">
                <h3 class="card-title"  data-toggle="tooltip" data-placement="top" data-html="true" title="Click Here" [routerLink]="['/slytherin']">Slytherin</h3>
                <p class="card-text">The cunning and often mean students are accommodated in the house of Slytherin.In addition, this house has produced the most black magicians. The coat of arms shows a silver snake on a green background. The snake is the symbol of the house because Salazar Slytherin was a Parselmouth.</p>
                <img src="assets/img/img/sly.jpg" class=" img-fluid" alt="...">
               </div>
              </div> 
            </div>
            <div class="col-xs-8 offset-xs-1 col-sm-10 offset-sm-1 col-md-5 offset-md-0 " style="margin-top: 40px;" >
              <div class="card" style=" display: flex; height: 500px;" >
                <div class="card-body">
                    <h5 class="card-title"  data-toggle="tooltip" data-placement="top" data-html="true" title="Click Here" [routerLink]="['/hufflepuff']">Hufflepuff</h5>
                    <p class="card-text">The Hufflepuffs are the most honest and loyal, and they are often the truest of friends.They have produced many successful and famous witches and wizards . Unfortunately, there are often prejudices against this house, for example that they also have the most bottles there. The coat of arms of the house is a black badger on a yellow background.</p>
                    <img src="assets/img/img/huff.jpg" class=" img-fluid" alt="...">
                </div>
                </div>
                </div>
                <div class="col-xs-8 offset-xs-1 col-sm-10 offset-sm-1 col-md-5 offset-md-0 " style="margin-top: 40px;" >
                  <div class="card" style=" display: flex; height: 500px;" >
                  <div class="card-body">
                      <h5 class="card-title"  data-toggle="tooltip" data-placement="top" data-html="true" title="Click Here" [routerLink]="['/ravenclaw']">Ravenclaw</h5>
                      <p class="card-text">The Ravenclaws enjoy great wisdom and wisdom, making them the most learned at Hogwarts.The riddle, instead of the usual password, which you have to solve in order to get into the common room, is also suitable for this view. The coat of arms of the house is a bronze eagle, standing as a symbol of wisdom, on a blue background.</p>
                      <img src="assets/img/img/rav.jpg" class=" img-fluid" alt="...">
                     </div>
                    </div>
                  </div>
                  </div>
   
  
</div>
  
    


