<!-- Footer -->
<div class=" row mt-3" style="padding-top: 10px;">
    <div class="col">
        <footer class="footer mt-3"> 
            <!-- Copyright -->
               <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                 © 2022 Copyright:
                 <a class="text-white" href="https://github.com/kashfasehejatsezuti">Visit My Github Account</a>
               </div>
               <!-- Copyright -->
             </footer>
             <!-- Footer -->
    </div>
</div>

